<% @page_title = "All Orders" %>
<div>
<p><%= @page_title %></p>
<table>
    <tr>
      <!-- <th>ID</th> -->
      <th>Description</th>
      <th>Order Number</th>
      <th>Created At</th>
      <th>Updated At</th>
      <th>Actions</th>
    </tr>
    <% @orders.each do |order| %>
    <tr>
      <!-- <td><%# order.id %></td> -->
      <td><%= order.description %></td>
      <td><%= order.order_number.to_s[0..2]%>.<%= order.order_number.to_s[3..4] %>.<%= order.order_number.to_s[5..7] %></td>
      <td><%= order.created_at.strftime("%d/%m/%Y : %X")  %></td>
      <td><%= order.updated_at.strftime("%d/%m/%Y : %X")  %></td>
      <td>
        <%= link_to( "New", new_order_path( order.id )) %>
        <%= link_to( "Edit", edit_order_path( order.id )) %>
        <%= link_to( "Delete", order_path( order.id ), :method => :delete ) %>
      </td>
    </tr>
    <% end %>
</table>
</div>
<div id="time"><%= @hash[:pods]["Result"][0][0..7] %></div>
<div id="money"></div>
