<!DOCTYPE html>
<html>
<head>
  <title><%= "#{@page_title}" if @page_title %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav>
   <div class="nav-wrapper">
     <a href="#" class="brand-logo">BAC Systems</a>
     <ul id="nav-mobile" class="right hide-on-med-and-down">
       <li><%= link_to "Create an account", new_user_path%></li>
       <% if !@current_user %>
       <li><%= link_to "Login", login_path %></li>
       <% end %>
       <% if @current_user %>
           <li><%= link_to "All users", users_path %></li>
           <li><%= link_to "Delete account", user_path( @current_user ), :method => :delete %></li>
           <li><%= link_to "Edit Profile", edit_user_path( @current_user ) %></li>
           <li><%= link_to "View Profile", @current_user %></li>
           <li><%= link_to "Logout", logout_path( @current_user ), :method => :delete %></li>
      <% end %>
     </ul>
   </div>
 </nav>


  <!--
    "Show all users" - All the time
    "View a profile" - If I am logged in
    "Edit a user" -  If I am logged in
    "Delete an account" - If I am logged in
    "Logout" - If I am logged in

    "Create an account" - If I am not logged in
   -->


  <% if @current_user %>
      <p>Your email is <%= @current_user.email %></p>
  <% end %>

  <% if flash[:success] %>
    <p><%= flash[:success] %></p>
  <% end %>

  <% if flash[:error] %>
    <p><%= flash[:error] %></p>
  <% end %>

<%= yield %>

</body>
</html>
