<!DOCTYPE html>
<html>
<head>
  <title><%= "#{@page_title}" if @page_title %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <!-- Dropdown Structure -->
  <ul id="dropdown1" class="dropdown-content">
    <li><%= link_to "All users", users_path %></li>
    <li><%= link_to "View/Edit Profile", @current_user %></li>
    <li><%= link_to "Logout", logout_path( @current_user ), :method => :delete %></li>
  </ul>

  <nav>
   <div class="nav-wrapper">
     <a href="#" class="brand-logo">BAC Systems</a>
     <ul id="nav-mobile" class="right hide-on-med-and-down">
       <% if !@current_user %>
       <li><%= link_to "Create an account", new_user_path%></li>
       <li><%= link_to "Login", login_path %></li>
       <% end %>
       <% if @current_user %>
       <li><%= link_to "Orders", order_index_path %></li>
       <li><a href="sass.html"><i class="material-icons">search</i></a></li>
       <li><a class="dropdown-button" data-activates="dropdown1">Users<i class="material-icons right">arrow_drop_down</i></a></li>
        <% end %>
   </ul>
   </div>
 </nav>

  <!--
    "Show all users" - All the time
    "View a profile" - If I am logged in
    "Edit a user" -  If I am logged in
    "Delete an account" - If I am logged in
    "Logout" - If I am logged in

    "Create an account" - If I am not logged in
   -->

<%= yield %>
<script>$(document).ready(function() {
$(".dropdown-button").dropdown();
});</script>
</body>
</html>
