<!DOCTYPE html>
<html>
<head>
  <title><%= "#{@page_title}" if @page_title %></title>
  <%= favicon_link_tag 'favicon-32x32' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <!-- Dropdown Structure -->
  <ul id="dropdown1" class="dropdown-content ">
    <li><%= link_to "All users", users_path, :class => "blue-grey-text text-lighten-3" %></li>
    <li><%= link_to "View/Edit Profile", @current_user, :class => "blue-grey-text text-lighten-3" %></li>
    <li><%= link_to "Logout", logout_path( @current_user ), :method => :delete, :class => "blue-grey-text text-lighten-3" %></li>
  </ul>


  <nav>
   <div class="nav-wrapper blue-grey lighten-3">
    <a href="/" class="brand-logo left"><%= image_tag("logo.png", :class=>"responsive-img") %></a>
     <ul id="nav-mobile" class="right hide-on-med-and-down">
       <% if !@current_user %>
       <li><%= link_to "Create an account", new_user_path%></li>
       <li><%= link_to "Login", login_path %></li>
       <% end %>
       <% if @current_user %>
       <li>
         <%= link_to "Orders", order_index_path %>
         <!-- <i class="material-icons tooltipped data-position="bottom" data-delay="50" data-tooltip="Orders" ">reorder</i> -->
         <%# end %>
       </li>
       <!-- <li><a href="sass.html"><i class="material-icons">search</i></a></li> -->
       <li><a class="dropdown-button" data-activates="dropdown1">Users</a></li>
        <% end %>



   </ul>
   </div>
 </nav>
 </header>

  <!--
    "Show all users" - All the time
    "View a profile" - If I am logged in
    "Edit a user" -  If I am logged in
    "Delete an account" - If I am logged in
    "Logout" - If I am logged in

    "Create an account" - If I am not logged in
   -->
<main>
<%= yield %>
</main>

<footer class="page-footer blue-grey lighten-3">
          <div class="container">
            <div class="row">
              <div class="col s4">dfadfs</div>
              <div class="col s4">LEAVE BLANK</div>
              <div class="col s4">
                  <div id="money">
                    

                  </div>
              </div>
            </div>
          </div>

          <!-- Copyright Mark -->
          <div class="footer-copyright">
            <div class="container" id="copyright">
              &copy; <%= copyright_notice_year_range(1977) %> <%= link_to " BAC Systems Pty ", "/", :class => "white-text" %>
            </div>
          </div>
        </footer>

<script>$(document).ready(function() { $(".dropdown-button").dropdown();});</script>
<script>$('.tooltipped').tooltip({delay: 50});</script>
</body>
</html>
